ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    background-color: skyblue;
}

body {
    margin: 0;
    font-family: sans-serif;
}

li {
    display: inline;
    padding: 3px;
}

.titlebar {
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    background: skyblue;
    color: black;
    border-bottom: 1px grey;
}

#closeBtn {
    margin-left: auto;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    height: 25px;
    width: 25px;
}

#closeBtn:hover{
    background-color: #FFFFFF99;
}